<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title> <%= @title %> </title>
  </head>
  <body>
    <div id="posts">
      <% for post in @posts %>
        <div class="post active">
          <h1 class="title"><a href="#"><%= post[:title] %></a></h1>
          <div class="date"><span class=date><%= post[:created_at] %></span>
            <% if post[:updated_at] %>
              (last update: <span class=date><%= post[:updated_at] %></span>)
            <% end %>
          </div>
          <div class="author"><%= post[:author] %></div>
          <div class="content"><%= post[:content] %></div>
        </div>
      <% end %>
    </div>
  </body>
</html>
